.rating-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-input input[type="radio"] {
    position: absolute !important;
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;

    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;

    pointer-events: none !important;
}

.rating-input label {
    font-size: 60px;
    color: #e4e5e9;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    padding: 12px;
}

/* hover */
.rating-input label:hover,
.rating-input label:hover ~ label {
    color: #ffc107;
}

/* selected */
.rating-input input:checked + label,
.rating-input input:checked + label ~ label {
    color: #ffc107;
}
